.idea/*
laba/laba.debug.exe
laba/laba.exe
sgxml-dev
shuihu-dev

/birdAnimal/birdAnimal.exe
/birdAnimal/birdAnimal
/birdAnimal/birdAnimal-dev
/birdAnimal/test/test.exe
/birdAnimal/test/test

benzbmw/benzbmw.exe
benzbmw/benzbmw
benzbmw/benzbmw/test/test.exe

brsgj/brsgj.exe
brsgj/brsgj
brsgj/test/test.exe

/wlzb/wlzb.exe

/sgxml/sgxml.exe

/csd/csd.exe